* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Navbar {
  width: 100%;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100px;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  flex-direction: column;
}

.title {
  font-family: "Cooper Black";
  color: white;
  margin: auto;
}

.menus {
  display: flex;
  justify-content: space-around;
  font-family: "Cooper Black";
  color: white;
}
